# Ignore virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings (optional)
.vscode/

# macOS system files
.DS_Store

# IntelliJ/PyCharm project files
.idea/